@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-size: 1.125rem;
}

.card {
    background-color: hsl(216, 50%, 16%);
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 20%;
    border-radius: 0.5rem;
    position: relative;
}

.card__title {
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    margin: 1rem 0;
    width: 100%;
}

.card__description {
    color: hsl(215, 51%, 70%);
    font-size: 0.9rem;
    font-weight: 300;
}

.card__img {
    max-width: 100%;
    border-radius: 0.5rem;
    position: relative;
    display: block;
}

.card__img:hover { 
    cursor: pointer;
    position: relative;
}

/* couldn't get this to work */
.card__img::before {
    content:"";
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(180deg, hsl(178, 100%, 50%), hsl(178, 100%, 50%));
}

.card__img:hover + .card__img__view { 
    opacity: 1;
}

.card__img__view {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    top: 27.5%;
}

.card__info {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card__info__ethereum, .card__info__time, .card__creator__text {
    font-size: 0.8rem;
}

.card__info__ethereum, .card__info__time {
    display: flex;
    align-items: center;
}

.card__info__ethereum {
    color: hsl(178, 100%, 50%);
}

.card__info__time {
    color: hsl(215, 51%, 70%);
}

.card__info__ethereum__icon, .card__info__time__icon {
    max-height: 70%;
    margin-right: 0.2rem;
}

.card__creator {
    border-top: 0.5px solid hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.card__creator__img {
    max-width: 10%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 0.7rem;
}

.card__creator__text {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.card__creator__text__link {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.card__creator__text__link:hover {
    color: hsl(178, 100%, 50%);
}

@media only screen and (min-width: 48rem) and (max-width: 64rem) {
    .card {
        max-width: 30%;
    }
}

@media only screen and (min-width: 20rem) and (max-width: 47.99rem){
    .card {
        max-width: 70%;
    }
}